/* Background and Text Color */
body {
    background-color: #0e1117;
    color: white;
}

/* Sidebar */
.sidebar {
    background-color: #161b22;
}

/* Input Components */
input, select, textarea {
    background-color: #161b22;
    color: white;
    border: 1px solid #444;
}

/* Buttons */
button {
    background-color: #0083FF;
    color: white;
}

/* Table Styles */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 18px;
    text-align: left;
    color: #000000;  /* Set table row text color to black */
}

table th, table td {
    padding: 12px 15px;
    border: 1px solid #ddd;
}

table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}

table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

table tbody tr:nth-of-type(odd) {
    background-color: #e9e9e9;
}

table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

/* Specific Header Colors */
table thead th:nth-child(1) {
    background-color: #333333;
}

table thead th:nth-child(2) {
    background-color: #FFDD44;
}

table thead th:nth-child(3) {
    background-color: #FF6F61;
}

table thead th:nth-child(4) {
    background-color: #6B5B95;
}

table thead th:nth-child(5) {
    background-color: #88B04B;
}

/* Header styles for the DataTable */
.data-table-header-Name {
    background-color: #333333;
    color: white;
    font-weight: bold;
}

.data-table-header-Age {
    background-color: #FFDD44;
    color: white;
    font-weight: bold;
}

.data-table-header-Department {
    background-color: #FF6F61;
    color: white;
    font-weight: bold;
}

.data-table-header-Salary {
    background-color: #6B5B95;
    color: white;
    font-weight: bold;
}

.data-table-header-City {
    background-color: #88B04B;
    color: white;
    font-weight: bold;
}

.data-table-header-lat {
    background-color: #009879;
    color: white;
    font-weight: bold;
}

.data-table-header-lon {
    background-color: #ff6347;
    color: white;
    font-weight: bold;
}

.data-table-header-Age-Interval {
    background-color: #4682b4;
    color: white;
    font-weight: bold;
}

/* Dropdown Menu Styles */
.Select-control {
    background-color: #161b22;
    color: white;
    border: 1px solid #444;
}

.Select-menu-outer {
    background-color: #161b22 !important;
    color: white !important;
}

.Select-menu {
    background-color: #161b22 !important;
    color: white !important;
}

.Select-option {
    color: white !important;
    background-color: #161b22 !important;
}

.Select-option.is-focused {
    background-color: #444 !important;
    color: white !important;
}

.Select-option.is-selected {
    background-color: #333 !important;
    color: white !important;
}

.employee-name {
    padding-left: 20px;  /* Adjust the value as needed */
}

.btn {
    background-color: #0083FF;
    color: white;
    margin-top: 20px;
    width: 100%;
}

/* Remove blue background from active navigation links */
.nav-link.active {
    background-color: #333333 !important;
    color: white !important;
}

/* Hover effect for navigation links */
.nav-link:hover {
    background-color: #575757 !important;
    color: white !important;
}

/* Limit the width of department tree view buttons */
.department-button {
    width: 300px; /* Adjust the width as needed */
    text-align: center; /* Center the text */
    margin: 5px 0; /* Add some space between buttons */
}

